footer {
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #5cdb95;
}

footer p {
  text-transform: uppercase;
  font-weight: bold;
}

footer span {
  width: 190px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
